@using ExpenseTrackerSharedCL.Features.SharedKernel.Services
@inherits LayoutComponentBase

<MudSnackbarProvider />
<MudThemeProvider Theme="ThemeService.Theme" />

<MudLayout>
    <MudGrid Spacing="0" Style="height: 100vh; width: 100vw; margin: 0;">
        <MudItem xs="0" md="6" Class="d-none d-md-flex align-center justify-center mud-width-full" Style="background-color: var(--mud-palette-secondary);">
            <div class="text-center">
                <MudText Typo="Typo.h3" Class="mb-4">ExpenseTracker</MudText>
                <MudText Typo="Typo.caption" >Track your money, with style.</MudText>
            </div>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex align-center justify-center mud-width-full" Style="background-color: var(--mud-palette-background);">
            <MudContainer MaxWidth="MaxWidth.Small">
                <div class="d-flex flex-column justify-center pa-8">
                    @Body
                </div>
            </MudContainer>
        </MudItem>
    </MudGrid>
</MudLayout>
