@page "/login"
@attribute [ExcludeFromInteractiveRouting]
@using System.ComponentModel.DataAnnotations
@using ExpenseTrackerWebApi.Features.Auth.Dtos
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization

@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IdentityRedirectManager RedirectManager
<MudThemeProvider />

<PageTitle>Login</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" >
    <MudPaper Class="pa-6 mt-6" Elevation="15">
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Welcome back!</MudText>
                </MudItem>
                <MudItem xs="12">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="Input.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </MudItem>
                <MudItem xs="12">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="Input.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-10">
                    <a href="@(NavigationManager.GetUriWithQueryParameters("register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>
    
@code{

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();
    
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }


    private bool isShow;
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {

        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Snackbar.Add("Login successful!", Severity.Success);
            RedirectManager.RedirectTo(ReturnUrl ?? "/");
        }
        else if (result.IsLockedOut)
        {
            Snackbar.Add("User account locked out.", Severity.Warning);
        }
        else
        {            
            Snackbar.Add("Login failed. Please check your credentials and try again.", Severity.Error);
        }
    }

    
    private void ShowPasswordClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else 
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private class InputModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
        public bool RememberMe { get; set; }
    }

}