@page "/login"
@layout AuthLayout
@attribute [ExcludeFromInteractiveRouting]

@using System.ComponentModel.DataAnnotations
@using ExpenseTrackerWebApi.Features.Auth.Commands
@using ExpenseTrackerWebApi.Features.Auth.Dtos
@using MediatR
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor.StaticInput

@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IMediator Mediator
@inject UserManager<IdentityUser> UserManager


<PageTitle>Login</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" >
    <MudPaper Class="pa-6 mt-6" Elevation="15">

        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Welcome back!</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudStaticTextField @bind-Value="Input.Email" Label="Email" InputType="InputType.Text" Variant="Variant.Text"></MudStaticTextField>
                    <ValidationMessage For="() => Input.Email" class="" />
                </MudItem>
                <MudItem xs="12">
                    <div style="position: relative;">
                        <MudStaticTextField @bind-Value="@Input.Password" Label="Password" Variant="Variant.Text"
                                            InputType="InputType.Password" id="passwordInput">
                                        </MudStaticTextField>
                        <button type="button" onclick="togglePasswordVisibility()" 
                                style="position: absolute; right: 0; top: 65%; transform: translateY(-50%); background: none; border: none; cursor: pointer; padding: 8px;">
                            <MudIcon Icon="@Icons.Material.Filled.Visibility" Size="Size.Small" id="visibilityIcon" />
                        </button>
                    </div>
                    <ValidationMessage For="() => Input.Password" class="" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudStaticButton Variant="Variant.Filled" Color="Color.Primary" FormAction="FormAction.Submit">Login</MudStaticButton>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-10">
                    <MudText Typo="Typo.body1">Don't have an account? <a href="@(NavigationManager.GetUriWithQueryParameters("register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register</a></MudText>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-10">
                    <StatusMessage Message="@errorMessage" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>

<script>
    function togglePasswordVisibility() {
        var input = document.getElementById('passwordInput');
        var icon = document.getElementById('visibilityIcon');
        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.add('password-visible');
        } else {
            input.type = 'password';
            icon.classList.remove('password-visible');
        }
    }
</script>
<style>
    #visibilityIcon { opacity: 0.5; }
    #visibilityIcon.password-visible { opacity: 1; }

</style>
<script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"></script>

@code{

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private LoginDataDto Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            var user = await UserManager.FindByEmailAsync(Input.Email);
            if (user is not null)
            {
                await Mediator.Send(new CheckForReoccuringTransactionsCommand { UserId = user.Id });
            }
            RedirectManager.RedirectTo(ReturnUrl ?? "/");
        }
        else if (result.IsLockedOut)
        {
            errorMessage = "User account locked out.";
        }
        else
        {
            errorMessage = "Login failed. Please check your credentials and try again.";
        }
    }
}