@page "/register"
@layout AuthLayout
@attribute [ExcludeFromInteractiveRouting]

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using ExpenseTrackerWebApi.Features.Accounts.Commands
@using ExpenseTrackerWebApi.Features.Auth.Dtos
@using ExpenseTrackerWebApi.Features.Categories.Commands
@using ExpenseTrackerWebApi.Features.UserPreferences.Commands
@using MediatR
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MudBlazor
@using MudBlazor.StaticInput

@inject UserManager<IdentityUser> UserManager
@inject IUserStore<IdentityUser> UserStore
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IdentityRedirectManager RedirectManager
@inject IMediator Mediator


<PageTitle>Registration</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" >
    <MudPaper Class="pa-6 mt-6" Elevation="15">
        <EditForm Model="@Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Create an Account</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudStaticTextField T="string" @bind-Value="Input.Email" Label="E-Mail" InputType="InputType.Text" Variant="Variant.Text"></MudStaticTextField>
                    <ValidationMessage For="() => Input.Email" class=""></ValidationMessage>
                </MudItem>
                <MudItem xs="12">
                    <MudStaticTextField T="string" @bind-Value="Input.Password" Label="Password" InputType="InputType.Password"></MudStaticTextField>
                    <ValidationMessage For="() => Input.Password" class=""></ValidationMessage>
                </MudItem>
                <MudItem xs="12">
                    <MudStaticTextField T="string" @bind-Value="Input.PasswordConfirm" Label="Confirm password" InputType="InputType.Password"></MudStaticTextField>
                    <ValidationMessage For="() => Input.PasswordConfirm" class=""></ValidationMessage>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudStaticButton Variant="Variant.Filled" Color="Color.Primary" Class="px-20 py-1" FormAction="FormAction.Submit">Register</MudStaticButton>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-10">
                    <MudText Typo="Typo.body1">Already have an account? <a href="@(NavigationManager.GetUriWithQueryParameters("login", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Login</a></MudText>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-10">
                    <StatusMessage Message="@Message" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>

    


@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private RegisterDataDto Input { get; set; } = new();

    private IEnumerable<IdentityError>? identityErrors;
    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";


    private async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }


        await SignInManager.SignInAsync(user, isPersistent: false);
        await Mediator.Send(new ResetToDefaultCategoriesCommand { UserId = user.Id });
        await Mediator.Send(new AddDefaultUserPreferencesCommand { UserId = user.Id });
        await Mediator.Send(new ResetToDefaultAccountsCommand { UserId = user.Id });
        NavigationManager.NavigateTo(ReturnUrl ?? "/");
    }


    private IdentityUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<IdentityUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(IdentityUser)}'. " +
                $"Ensure that '{nameof(IdentityUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<IdentityUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<IdentityUser>)UserStore;
    }

    private void BtnLogin_Click()
    {
        NavigationManager.NavigateTo("/Login");
    }
}