@rendermode InteractiveWebAssembly
@using MudBlazor

<MudDialog>
    <TitleContent>
        Warning
    </TitleContent>
    <DialogContent>
        @Message
    </DialogContent>
    <DialogActions>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary" OnClick="Confirm">Confirm</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public required string Message { get; set; }

    private async Task Confirm()
    {
        MudDialog.Close(DialogResult.Ok(result: true));
    }

    private void Cancel() => MudDialog.Cancel();

}