::deep .title{
    font-size: 32px;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 1rem;
}

.header{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.reports{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.latest-transactions-container{
    display: grid;
    grid-template-columns: 1fr;
}

::deep .my-card{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
}


::deep .my-card.header{
    font-weight: 300; 
    font-size: 24px;
}

::deep .my-card.header{
    font-weight: 300; 
    font-size: 24px;
}

::deep .my-card-text{
    font-weight: 800;
    font-size: 32px;
}
