@page "/transactions"
@using ExpenseTracker.Components.Pages.Dialogs
@using ExpenseTracker.Database.Models
@using ExpenseTracker.Services
@rendermode InteractiveServer
@inject TransactionService TransactionService
@inject IDialogService DialogService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider /> 
<MudSnackbarProvider />

<div style="display: flex; flex-direction: column; gap: 1rem;">
    <PageTitle>Trasactions</PageTitle>
    <h1>My Transactions</h1>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(null))">Add</MudButton>
    <MudDataGrid Items="@MyTransactions">
        <Columns>
            <PropertyColumn Property="t => t.Amount" Title="Amount"></PropertyColumn>
            <PropertyColumn Property="t => t.Date" Title="Date"></PropertyColumn>
            <PropertyColumn Property="t => t.Category.Name" Title="Category"></PropertyColumn>
            <PropertyColumn Property="t => t.Description" Title="Description"></PropertyColumn>
            <TemplateColumn>
                <CellTemplate>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(context.Item.Id))">Edit</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>


@code {
     private IEnumerable<Transaction> MyTransactions = new List<Transaction>();

    protected override async Task OnInitializedAsync()
    {
        MyTransactions = await TransactionService.GetAllAsync();
    }

    private async Task OpenTransactionDialogAsync(int? transaction_id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var parameters = new DialogParameters<TransactionDialog>
        {
            { x => x.TransactionId, transaction_id }
        };

        var dialog = await DialogService.ShowAsync<TransactionDialog>(title: "Simple Dialog", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            MyTransactions = await TransactionService.GetAllAsync();
        }
    }
}
