@page "/transactions"
@using ExpenseTracker.Components.Pages.Dialogs
@using ExpenseTracker.Database.Models
@using ExpenseTracker.Services
@rendermode InteractiveServer
@inject TransactionService TransactionService
@inject IDialogService DialogService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider /> 
<MudSnackbarProvider />

<div style="display: flex; flex-direction: column; gap: 1rem;">
    <PageTitle>Trasactions</PageTitle>
    <h1>My Transactions</h1>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenTransactionDialogAsync">Add</MudButton>
    <MudDataGrid Items="@MyTransactions">
        <Columns>
            <PropertyColumn Property="t => t.Amount"></PropertyColumn>
            <PropertyColumn Property="t => t.Date"></PropertyColumn>
            <PropertyColumn Property="t => t.Description"></PropertyColumn>
        </Columns>
    </MudDataGrid>
</div>


@code {
     private IEnumerable<Transaction> MyTransactions = new List<Transaction>();

    protected override async Task OnInitializedAsync()
    {
        MyTransactions = await TransactionService.GetAllAsync();
    }

    private async Task OpenTransactionDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<TransactionDialog>("Simple Dialog", options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            MyTransactions = await TransactionService.GetAllAsync();
        }
    }
}
