@rendermode InteractiveWebAssembly
@using MudBlazor

<div class="d-none d-md-flex">
    @DesktopContent
</div>
<div class="d-flex d-md-none">
    @MobileContent
</div>

@code
{
    [Parameter]
    public RenderFragment? DesktopContent{get; set;}

    [Parameter]
    public RenderFragment? MobileContent{get; set;}
}