@attribute [Authorize]
@using ExpenseTracker.Database.Models
@using ExpenseTracker.Services
@using Microsoft.AspNetCore.Authorization
@inject CategoryService CategoryService
@inject NotificationService NotificationService

<MudDialog>
    <TitleContent>
        Category
    </TitleContent>
    <DialogContent>
            <MudForm @ref="form">
                <div style="display: flex; flex-direction: column; gap: 1rem; min-width: 350px;">
                    @if(Category is not null){
                        <MudTextField @bind-Value="Category.Name" Label="Description" Variant="Variant.Text" Required="true" RequiredError="Name is required!">
                        </MudTextField>
                    }
                    <MudSelect T="TransactionType" Label="Type" Required="true" @bind-Value="_type"
                        RequiredError="Type is required!">
                        @foreach (TransactionType item in Enum.GetValues(typeof(TransactionType)))
                        {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </MudForm>
    </DialogContent>
    <DialogActions>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
            <MudButton OnClick="Cancel">Cancel</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    MudForm form;

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public int? CategoryId{get; set;}

    private TransactionType _type = TransactionType.Expense;
    private Category? Category = new();
    

    protected override async Task OnInitializedAsync()
    {
        Category = new Category();
        _type = Category.Type;
    }

    protected override async Task OnParametersSetAsync(){
        
        if (CategoryId == null)
        {
            return;
        }

        Category = await CategoryService.GetAsync((int)CategoryId);

        // if we failed to get the transaction break immediately
        if (Category == null)
        {
            MudDialog.Close();
            return;
        }

        _type = Category.Type;
        StateHasChanged();
    }

    private async void Submit()
    {
        await form.Validate();
        if (!form.IsValid)
        {
            return;
        }

        // since we validate first
        // we know that _date and _time have values
        Category.Type = _type;
        
        await CategoryService.SaveAsync(Category);
        await NotificationService.ShowSuccessAsync("Category succesfully saved! ");
        MudDialog.Close(DialogResult.Ok(result: true));
    }

    private void Cancel() => MudDialog.Cancel();
}