@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using Microsoft.AspNetCore.Components.Authorization
@using ExpenseTrackerWasmWebApp.Features.Auth.Components
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Layouts

<MudPopoverProvider />
<MudDialogProvider /> 
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <p>Not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>